In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('../data/raw/wfp_food_prices_dza.csv')
df = df.drop(index=0)
df.head()

,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
1,2015-04-15,Alger,Hydra,Algiers,1794,36.75,3.04,cereals and tubers,Pasta,112,500 G,actual,Retail,DZD,60,0.61
2,2015-04-15,Alger,Hydra,Algiers,1794,36.75,3.04,cereals and tubers,Potatoes,83,KG,actual,Retail,DZD,80,0.81
3,2015-04-15,Alger,Hydra,Algiers,1794,36.75,3.04,cereals and tubers,Rice,52,KG,actual,Retail,DZD,90,0.91
4,2015-04-15,Alger,Hydra,Algiers,1794,36.75,3.04,"meat, fish and eggs",Eggs,92,30 pcs,actual,Retail,DZD,300,3.05
5,2015-04-15,Alger,Hydra,Algiers,1794,36.75,3.04,"meat, fish and eggs",Meat (chicken),94,KG,actual,Retail,DZD,277,2.81

In [32]:
df.describe()

,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
count,4490,4490,4490,4490,4490,4490,4490,4490,4490,4490,4490,4490,4490,4490,4490,4490
unique,56,2,2,7,7,7,6,8,38,38,13,1,1,1,306,659
top,2022-04-15,Tindouf,Tindouf,Dakhla,1797,26.83,-8.01,cereals and tubers,Pasta,112,KG,actual,Retail,DZD,150,1.11
freq,121,4255,4255,836,836,836,1193,980,192,192,2337,4490,4490,4490,418,114

In [33]:
df.dtypes

date            object
admin1          object
admin2          object
market          object
market_id       object
latitude        object
longitude       object
category        object
commodity       object
commodity_id    object
unit            object
priceflag       object
pricetype       object
currency        object
price           object
usdprice        object
dtype: object

In [34]:
df.date = pd.to_datetime(df.date)

In [35]:
df.admin1.unique()

array(['Alger', 'Tindouf'], dtype=object)

In [36]:
df.admin2.unique()

array(['Hydra', 'Tindouf'], dtype=object)

In [37]:
df.market.unique()

array(['Algiers', 'Dakhla', 'Smara', 'Tindouf', 'Awserd', 'Laayoun',
       'Boujdour'], dtype=object)

In [38]:
df.latitude = pd.to_numeric(df.latitude)
df.longitude = pd.to_numeric(df.longitude)

In [39]:
df.category.unique()

array(['cereals and tubers', 'meat, fish and eggs', 'milk and dairy',
       'miscellaneous food', 'non-food', 'oil and fats',
       'pulses and nuts', 'vegetables and fruits'], dtype=object)

In [40]:
df.commodity.unique()

array(['Pasta', 'Potatoes', 'Rice', 'Eggs', 'Meat (chicken)',
       'Cheese (dry)', 'Sugar', 'Fuel (petrol-gasoline)', 'Oil',
       'Beans (white)', 'Lentils', 'Bananas', 'Carrots', 'Onions',
       'Oranges', 'Bread', 'Meat (camel)', 'Milk', 'Apples', 'Tomatoes',
       'Tea (sahm)', 'Fuel (diesel)', 'Fish (canned)', 'Milk (camel)',
       'Tea', 'Semolina', 'Wheat flour', 'Meat (lamb)', 'Cheese',
       'Lentils (black)', 'Fish (sardine, canned)', 'Lben', 'Yogurt',
       'Peanut', 'Dates', 'Fish (tuna, canned)', 'Almonds',
       'Fish (fresh)'], dtype=object)

In [41]:
df.unit.unique()

array(['500 G', 'KG', '30 pcs', 'Unit', 'L', 'Packet', '125 G', '220 G',
       '800 G', '90 G', '100 G', '65 G', '5 L'], dtype=object)

In [42]:
df['unit_code'] = (
    df['unit']
      .str.lower()
      .str.extract(r'([a-z]+)')    # grab the letters
      .iloc[:,0]
)

In [43]:
df['qty'] = df['unit'].str.extract(r'(\d+)').astype(float).fillna(1)

In [44]:
df.priceflag.unique()

array(['actual'], dtype=object)

In [45]:
df.pricetype.unique()

array(['Retail'], dtype=object)

In [46]:
df = df.drop(columns=['priceflag', 'pricetype', 'unit', 'currency', 'market_id', 'commodity_id'])

In [47]:
df = df.rename(columns={'admin1': 'province', 'admin2': 'town', 'qty': 'quantity', 'unit_code': 'unit'})

In [48]:
df.head()

,date,province,town,market,latitude,longitude,category,commodity,price,usdprice,unit,quantity
1,2015-04-15,Alger,Hydra,Algiers,36.75,3.04,cereals and tubers,Pasta,60,0.61,g,500.0
2,2015-04-15,Alger,Hydra,Algiers,36.75,3.04,cereals and tubers,Potatoes,80,0.81,kg,1.0
3,2015-04-15,Alger,Hydra,Algiers,36.75,3.04,cereals and tubers,Rice,90,0.91,kg,1.0
4,2015-04-15,Alger,Hydra,Algiers,36.75,3.04,"meat, fish and eggs",Eggs,300,3.05,pcs,30.0
5,2015-04-15,Alger,Hydra,Algiers,36.75,3.04,"meat, fish and eggs",Meat (chicken),277,2.81,kg,1.0

In [49]:
df.to_csv('../data/processed/food.csv', index=False)